.top-drawer-container {
  position: fixed;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 2rem;
  border-radius: 10px;
  background: white;
  top: 0;
}

.top-drawer-text {
  margin-top: 0.5rem;
}
