/* TODO: fit width to text  */

.postDrawerContainer {
  position: relative;
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  border-radius: 10px;
  bottom: 2rem;
  background: rgba(224, 223, 223, 0.6);
}

.words {
  display: flex;
  align-items: center;
}

.value {
  margin-left: 0.5rem;
}

.caption {
  font-size: 1.2rem;
}
