/* TODO: fit width to text  */

.postDrawerContainer {
  position: relative;
  display: flex;
  margin: auto;
  width: 35rem;
  height: 1.5rem;
  border-radius: 10px;
  bottom: 2rem;
  background: rgba(224, 223, 223, 0.5);
}

.words {
  width: 100%;
  position: absolute;
  left: 100px;
}
